.footer {
  &__top {
    background-color: black;
    padding: 80px 100px 85px 100px;
    margin-top: 82px;
    display: flex;
    align-items: start;
    gap: 87px;
  }
}

.widget-title-footer1 {
  color: white;
}
.widget-title-footer2 {
  color: white;
}

.widget-title-footer3 {
  color: white;
}

.widget-title-footer4 {
  color: white;
}

.textwidget {
  color: #fafafa;
}
